html, body 
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body 
{
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #4c60af, #8b7f2e);
}

header 
{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 
{
  color: #fff;
}

p 
{
  color: #fff;
}

.button-container-left 
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-container-right 
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button 
{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px;
  transition: background-color 0.2s ease;
}

.button-current 
{
  display: inline-block;
  padding: 10px 20px;
  background-color: #003a73;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px;
  transition: background-color 0.2s ease;
}

.button:hover 
{
  background-color: #0056b3;
}
  
.button-current:hover 
{
  background-color: #0056b3;
}

.embeded
{
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;

}
  
.embeded-container 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-group
{
  margin-bottom: 10px;

}

label 
{
  display: inline-block;
  color: #fff;
  width: 100px; /* Adjust the width as needed */
}
  