<!DOCTYPE html>
<html>
<head>
  <title>Survive page</title>
  <link rel="stylesheet" href="projectstyles.css">
  
</head>
  <body>
    <script>
      function showImage(imageSrc, buttonElement, paragraphID) {
        var displayedImage = document.getElementById('displayed-image');
        displayedImage.src = imageSrc;
        displayedImage.classList.add('show'); // Add the 'show' class to apply the transition
  
        // Remove 'button-current' class from all buttons except the 'Download Survive.exe' button
        var buttons = document.querySelectorAll('.button:not(.download-button)');
        buttons.forEach(function(button) {
          button.classList.remove('button-current');
        });
  
        // Add 'button-current' class to the clicked button
        buttonElement.classList.add('button-current');
      }
  
      window.addEventListener('DOMContentLoaded', function() {
        var firstFormButton = document.querySelector('.button-current');
        showImage('SurviveMainPage.PNG', firstFormButton); // Display the image when the page loads and set the 'First Form' button as 'button-current'
      });
    </script>

      <h1>Survive Adventure Game</h1>
        <style>
          p 
          {
            white-space: pre-line;
          }
        </style>
      
    <div class="multi-container">
      <div class="text-with-button-container">
        <p>
          The game "Survive" I built using visual BASIC and forms. 
          The objective of the game is to escape the island that you crash landed on.
  
          Please note that this is a very rough game and may not work with all systems
          as it was built a while ago and has many compatability issues due to usage of the outdated
          Windows Media Player SDK.

          After downloading, extract the jar file and launch the game from the Survive.exe file.

        </p>

        <a href="Survive Folder.zip" class="multi-container-button" download>Download Survive.exe</a>
      </div>

      <div class="picture-with-text-ontop">
        <p>
          The main fighting animation
        </p>
        <img src="fight.gif" width="500px" height="auto" alt="Fighting animation">
      </div>

        
    </div>

    <div class="multi-container-2">
      <div class="button-container-left-vertical">
        <a href="#" class="button" onclick="showImage('SurviveMainPage.PNG', this)">First Form</a>
        <a href="#" class="button" onclick="showImage('SurviveFirstChoice.PNG', this)">First Choice Form</a>
        <a href="#" class="button" onclick="showImage('SurviveFirstFight.PNG', this)">First Fight Form</a>
        <a href="#" class="button" onclick="showImage('SurviveInspectionData.PNG', this)">First Fight Inspection Info Form</a>
        <a href="#" class="button" onclick="showImage('SurviveUpdatedInspection.PNG', this)">First Fight with Added Info Form</a>
      </div>

      <div id="image-container">
        <img id="displayed-image" src="" alt="">
      </div>

    </div>
      
      <header class="header">
        <div class="button-container-left">
          <div class="dropdown">
            <button class="button">Menu &#9662;</button>
            <div class="dropdown-content">
              <a href="/mainpage" class="dropdown-button" >Main Page</a>
            </div>
          </div>
  
          <div class="dropdown">
            <button class="button">Mobile &#9662;</button>
            <div class="dropdown-content">
              <a class="dropdown-button" >Work In Progress</a>
              <!--
              <a href="/project1" class="dropdown-button" >Project 1</a>
              <a href="/project2" class="dropdown-button" >Project 2</a>
              -->
            </div>
          </div>
  
          <div class="dropdown">
            <button class="button">Desktop &#9662;</button>
            <div class="dropdown-content">
              <a href="/survive" class="dropdown-button-current" >Survive</a>
            </div>
          </div>
  
          <div class="dropdown">
            <button class="button">Embedded Controllers &#9662;</button>
            <div class="dropdown-content">
              <a class="dropdown-button" >Work In Progress</a>
            </div>
          </div>
        
          <div class="dropdown">
            <button class="button">Data Management &#9662;</button>
            <div class="dropdown-content">
              <a class="dropdown-button" >Work In Progress</a>
            </div>
          </div>
      </div>
  
        <div class="button-container-right">
          <a href="https://drive.google.com/u/5/uc?id=1MiJgHpTBpID4ePNlTYu_cLfhtAqxzwV-&export=download" class="button" download>Download Resume</a>
          <!--To get the new resume link, 1. go to drive 2. Preview 3. Download file 4. Right click dropdown 5. Copy download link-->
          <!--2nd option: To get the new resume link, 1. go to drive 2. Preview 3. Open in new link 4. Download file 5. When new window opens, quickly copy URL-->
          <a href="https://github.com/nathanlzender" class="button" target="_blank">Github</a>
          <a href="https://www.linkedin.com/in/nathanlzender/" class="button" target="_blank">LinkedIn</a>
        <!--<a href="/loginpage" class="button" >Login page</a> -->
        </div>
      </header>
  </body>
</html>
